<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://th.bing.com/th/id/R.8709795c049f32b17e4a7d624eb9a950?rik=PoALb1NWiD%2flvQ&pid=ImgRaw&r=0"
        alt="Logo Sindicato" width="40" height="40" class="d-inline-block align-text-top">
      Sindicato de Camioneros
    </a>

    <!-- Botón hamburguesa para pantallas chicas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú colapsable -->
    <div #myNav class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/home" (click)="closeNav()">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/inicio" (click)="closeNav()">Control</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/noticia" (click)="closeNav()">Noticias</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/proyecto" (click)="closeNav()">Proyectos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/login" (click)="closeNav()">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
